@font-face {
    font-family: manrope;
    src: url("../static/regular.woff");
}
@font-face {
    font-family: quicksand-medium;
    src: url("../static/Quicksand-Medium.ttf")
}
@font-face {
    font-family: quicksand-regular;
    src: url("../static/Quicksand-Regular.ttf")
}