@font-face {
    font-family: manrope;
    src: url("../static/regular.woff");
}
@font-face {
    font-family: quicksand-medium;
    src: url("../static/Quicksand-Medium.ttf")
}
@font-face {
    font-family: quicksand-regular;
    src: url("../static/Quicksand-Regular.ttf")
}
@font-face {
    font-family: Roboto-mono;
    src: url("../static/Roboto_Mono/static/RobotoMono-Regular.ttf")
}
@font-face {
    font-family: Rubik;
    src: url("../static/Rubik/static/Rubik-Regular.ttf")
}
@font-face {
    font-family: Rubik-medium;
    src: url("../static/Rubik/static/Rubik-Medium.ttf")
}