#second-header{
    
    // background-image: linear-gradient(to right,rgba(11, 55, 201,1),rgba(255, 255, 255, 0.45));
    // background-color: #a3ca9b;
    height: 200vh;
    color: white;
    padding: 5% 5% 0% 3%;
   
    
    
    
}
.metadataForm{
    grid-column-end: 3;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15%;
    span{
        font-size: 2rem;
    }
}
.submitform-button{
    background-color: #0d7ed4;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 0 0 12px 0;
    &:hover{
        cursor: pointer;
    }
}
.back-button{
    border: none;
    background-color: #23272A;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 0 0 0 12px;
    color: white;
    font-size: 2rem;
    padding: 0 10px;

}
.next-button{
    background-color: #23272A;
    // grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 0 0 12px 0;
    width: 100%;
    // border-radius: 0 0 15px 15px;
    &:hover{
        cursor: pointer;


    }
}
.files-list-div{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    div{
        padding: 0.1rem 0px;
        overflow: hidden;
        white-space: nowrap;
        &:hover{
            background-color: #f9f9f9;
        }

    }
}

.card-container{
    width: 100%;
    // background-color: white;
    height: 100%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    &.smaller{
        // height: 40vh;
        font-size: 1.5rem;
    }

    .inner-card-container{
        z-index: 1;
        
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        &.nogrid{
            display: inline-block;
            padding: 1rem 3rem 0 3rem;
        }
        &.share {
            font-size: 2.5rem;
            align-content: center;
            button{
                background-color: #23272A;
                border: 0;
                grid-column: 1 / 3;
                color: white;
            }
            a{
                padding-bottom: 2rem;
            }
            div{
                padding: 3rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                grid-column: 1/3;
            }
        }
        
        #selected-files{
            display: flex;
            flex-direction: column;

        }
        
        #upload-files-div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

        }
    }
    

}
.upload-form-card {
    display: grid;
    margin-top: 1.5rem;
    border-radius: 9px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 90%;
    max-height: 653;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 1fr 3fr;
}
.background-color-div{
    background-color: #7692FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.outer-card{
    max-height: 480px;
    background-color: white;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 7fr 1fr;
    position: relative;
}
.grid-container{
    h1{
        display: flex;
        height: 100%;
        color: black;
        // height: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 40px 10px;
    // row-gap: 1rem;
    border-radius: 8px;
    background-color: white;
    width: 90%;
}
.column-upload-card{
    display: flex;
    flex-direction: column;
    // justify-content: end;
    background-color: hsla(202, 14%, 85%, 0.411);
    border-radius: 0px 8px 8px 0px;
    // height: fit-content;
    width: 100%;
    height: 100%;
    
}
.column-form-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, .2);
    .form-div{
        opacity: 100%;
        position: relative;
        .form-restriction{
            background-color:black;
            position:absolute;
            height:100%;
            width:100%;
            opacity: 80%;  
            display: flex;
            justify-content: center;
            align-items: center;
            
            z-index: 2;
            span{
                color: white;
                font-size: 2rem;
                text-align: center;

            }

        }

    }
    form{
        border-top: 1px solid;
        padding-top: 50px;
        
    }
    
}
.files-list{
    position: relative;
    grid-row-start: 1;
    grid-row-end: auto;
    overflow-y: auto;
    background-color: #eeeeee;
    
}
.form-check {
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    
  
    &-input {
        position: static;
        padding: 30px;
        &:disabled{
            text-decoration: line-through;
        }
    }
    
}
button[pressed='1']{
    animation: press;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
form[pressed='1'] {
    animation: press;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes press{
    
    100% {
        width: 0px;
        font-size: 0px;
        opacity: 0%;
    }
}

.ionicon:hover{
    cursor: pointer;
}
.uploadForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
#clear-button{
    outline: none;
    border: 0;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    border-radius: 0 0 0 12px;
}
.uploadButton{
    width: 50%;
    background-color: #0D6EFD;
    text-align: center;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 4px;
    &:hover{
        background-color: #0467fd;
        cursor: pointer;
    }
}
.upload-files-button-div{
    background-color: red;
    opacity: 50%;
    font-size: 3rem;
    height: 100%;
    width: 100%;
}
.upload-button{
    
    width: 100%;

}
.submitButton{
    margin: 0 auto 0 auto;
    position: relative;
    // border-radius: 5px;
    background-color: hsl(207,100%, 0%);
    color: white;
    border-width: 0;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    &:not(.submitButton) {
        background-color: hsl(234, 81%, 49%);
        text-align: center;
        &:hover{
            background-color: hsl(234, 76%, 53%);
            cursor: pointer;
        }
        
    }
    &:disabled{
        opacity: 75%;

    }
  }
  
.upload-files-form{
    display:flex;
    width: 100%;
    flex-direction:column;
    height: 100%;
    & > input{
        width: 95%;
        margin: 0 auto 0 auto;
        text-align: center;
    }

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.svg-icon {
    width: 8rem;
    height: 8rem;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #F7D264;
  }
  
  .svg-icon circle {
    stroke: #F7D264;
    stroke-width: 1;
  }




  .restricted-upload-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .select-files{
        font-size: 2rem;
        padding: 1rem;
        background-color: #0D6EFD;
        color: white;
        border-radius: 0.25rem;
        &:hover{
            cursor: pointer;
        }
    }
    .restricted-share{
        gap: 1rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }



  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  