

.table-container {
    position: relative;
    width: 40%;
    min-width: 450px;
    // background-color: red;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;

}
.table-row {
    background-color: green;
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 20% 70% auto;
    
}
.table-row-column{
    background-color: rgb(0, 217, 255);
    
    img{
        object-fit: cover;
        width: 10vw;
        height: auto;
        border-radius: 10%;
    }
    

}
.files-gap{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.file-row-section{
    display: grid;
                grid-template-columns:0fr 1fr 0fr 0fr; // icon-name-file_size-download_icon
    grid-template-rows: auto;
    padding: 20px 20px;
    font-size: 1.3rem;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    // box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;    
    svg:hover{
    cursor: pointer;

    }
    .file-row-size-label{
        text-align: center;
        font-size: 1rem;
    }
}
.password_form{
    width: 20%;
    left: 40%;
    position: relative;    
    margin-top: 40vh;
    justify-content: center;
}